html {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-image: url('images/golosinas.jpg');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('images/cine.jpg') no-repeat center center fixed;
    background-size: contain;
}

.contenedor {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.aleatorio {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}